/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--bc) / 0.2);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--bc) / 0.35);
}